.container{
    /* background-image: url("kourosh-qaffari-RrhhzitYizg-unsplash.jpg"); */
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a.right {
    display: inline-block;
    text-align: right;
    width: 100%;
 }
